.menu {
    font-size: 40px; 
    position: fixed;
    left: 18px; 
    color:white; 
    top: -4px;
    z-index: 11;
}

.search {
    position: fixed; 
    left: 50%;
    transform: translateX(-50%); 
    top: 5px;
    width: 400px;
}

.yt{
    position: fixed;
    top: -10px; 
    right: 18px;
    height: 70px; 
    width: 70px;
}

.bgimg{
    top: 120px; 
    right: -280px;
    width: 900px;
    height: 900px;
    position: fixed;
    z-index: -20;
}

.logo{
    top: -68px; 
    left: 25%;
    width: 345.6px;
    height: 194.4px;
    position: fixed;
}

.txtslide{
    color: rgb(77, 77, 77);
    left: 60px; 
    z-index: 10; 
    text-decoration: none; 
    font-size:20px; 
    color:white;
    position: absolute;
}

.testo{
    color:white; 
    padding-top: 20px; 
    padding-left: 30px;
    padding-right: 30px;
    z-index: -5;
}

.rettangoli{
    background-color: rgb(40, 50, 59); 
    position:absolute; 
    width: 1100px;  
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 25px 25px;
}

.img-anime{
    top: 17px; 
    left: 10px;
    width: 276px;
    height: 390.6px;
    position: fixed;
    border-radius: 15px 15px;
}

.poster{
    top: 17px; 
    left: 10px;
    width: 276px;
    height: 390.6px;
    border-radius: 15px 15px;
    z-index: -5;
    position: relative;
}

